version: '3'
services:
  db:
    image: postgres
    env_file:
      - .env
    ports:
      - 5432:5432
    networks:
      - weedly-backend

  weedly-app:
    build: .
    env_file:
      - .env
    ports:
      - 5000:5000
    networks:
      - weedly-backend

networks:
  weedly-backend:
